body {
    margin: 0;
    background-color: rgb(88, 125, 228);
    text-align: center;
}

header {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(254, 253, 255);
}

.pesquisa {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.conceito {
    margin: 10px;
    background-color: black;
    color: white;
    border: 5px solid white;
    text-align: center;
    border-radius: 10px;
}

.conceito_position{
    margin: 10px;
    background-color: rgb(131, 12, 12);
    color: white;
    border: 5px solid white;
    text-align: center;
    border-radius: 10px;

}

.Temas{
    margin: 10px;
    background-color:rgb(95, 86, 73);
    color: white;
    border: 5px solid white;
    text-align: center;
    border-radius: 10px
}


.hr{
    background-color: white;
    height: 10px;
    margin: 10px;
}


/*Temas - Parte das Garotas*/
/*Deixei um de exemplo, não tenho certeza se esta certo... ass: rafa*/

#exemplo_display_block p{
    display: block;
    
}

#exemplo_display_inline p{
    display: inline;
}