body {
    margin: 0;
    background-color: rgb(88, 125, 228);
    text-align: center;
}

header {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(254, 253, 255);
}

.pesquisa {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.conceito {
    margin: 10px;
    background-color: black;
    color: white;
    border: 5px solid white;
    text-align: center;
    border-radius: 10px;
}

.conceito_position {
    margin: 10px;
    background-color: rgb(131, 12, 12);
    color: white;
    border: 5px solid white;
    text-align: center;
    border-radius: 10px;

}

.Temas {
    margin: 10px;
    background-color: rgb(95, 86, 73);
    color: white;
    border: 5px solid white;
    text-align: center;
    border-radius: 10px
}


.hr {
    background-color: white;
    height: 10px;
    margin: 10px;
}


/*Temas - Parte das Garotas*/
/*Deixei um de exemplo, não tenho certeza se esta certo... ass: rafa*/

#exemplo_display_block p {
    display: block;
}

#exemplo_display_inline p {
    display: inline;
}

#exemplo_display_inline_block p {
    display: inline block;
}

#exemplo_display_flex p {
    display: flex;
}

#exemplo_display_inline-flex p {
    display: inline-flex;
}

#exemplo_display_grid p {
    display: grid;
}

#exemplo_display_inline-grid p {
    display: inline-grid;
}

#exemplo_display_flow-root p {
    display: flow-root;
}

#exemplo_display_table p {
    display: table;
}

#exemplo_display_block_flow p {
    display: block flow;
}

#exemplo_display_block_flex p {
    display: block flex;
}

#exemplo_display_block_grid p {
    display: block grid;
}

#exemplo_display_block_flow-root p {
    display: block flow-root;
}

#exemplo_display_inline_flow p {
    display: inline flow;
}

#exemplo_display_inline_flex p {
    display: inline flex;
}

#exemplo_display_inline_grid p {
    display: inline grid;
}

#exemplo_display_inline_flow-root p {
    display: inline flow-root;
}