body {
    margin: 0;
    background-color: rgb(180, 167, 167);
    text-align: center;
}

header {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(254, 253, 255);
}

.pesquisa {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.conceito {
    margin: 10px;
    background-color: black;
    color: white;
    border: 5px solid white;
    text-align: center;
    border-radius: 10px;
}

.conceito_position{
    margin: 10px;
    background-color: rgb(131, 12, 12);
    color: white;
    border: 5px solid white;
    text-align: center;
    border-radius: 10px;

}

.hr{
    background-color: rgb(255, 255, 255);
    height: 10px;
    margin: 10px;
    border-radius: 10px;
    border-color: black;
}